@import ../../styles/helpers
    
.item
    display: flex
    +caption-1
    font-weight: 500
    cursor: grab
    &:not(:last-child)
        margin-bottom: 20px

.cases
    position: relative
    width: 100%
    height: 530px
    img
        object-fit: cover
    +x
        height: calc(530px * 0.9)
    +t
        height: calc(530px * 0.7)
    +m
        height: calc(530px * 0.9)
    +s
        height: calc(530px * 0.6)
        width: 100%

.ecamp
    position: relative
    width: 100%
    height: 515px
    img
        object-fit: cover
    +d
        height: calc(515px * 0.7)
    +s
        height: 87.8vw

