@import ../../../styles/helpers

.container
    padding: 0 8px
    +d
        width: 240px
        a
            padding: unset

.default
    width: 336px
    +m
        width: 240px

.small
    width: 216px
    +m
        width: 160px