.container
  width: 100%
  max-width: 1280px
  margin: 0 auto
  padding: 0 80px
  +t
    padding: 0 40px
  +m
    padding: 0 32px
  

.container-full
  max-width: 1440px
  padding: 282px 80px 282px 0
  position: relative
  overflow: hidden
  +x
    padding: 144px 80px 144px 0
  +t
    padding: 0 0 64px 40px
  +m
    padding: 0 32px 64px 32px