@import ../../../styles/helpers
@import ../../../styles/colors

.hero
    position: relative
    display: flex
    align-items: center
    min-height: 880px
    padding-bottom: 130px
    padding-top: 32px
    +xw
        padding-top: 64px
        min-height: unset
    +m
        padding-top: 64px
    img
        position: absolute
        height: 75%
        width: 100%

.container
    display: grid
    grid-template-columns: 1fr 640px
    position: relative
    +t
        grid-template-columns: 1fr 340px
    +m
        grid-template-columns: 100%

.wrap
    position: relative
    z-index: 3
    +m
        margin-bottom: 80px

    .stage
        margin-bottom: 22px
        font-size: 16px
        +dark
            color: $gray3

.title
    margin-bottom: 32px
    color: $light-black
    +dark
        color: $white

    .strike_through
        text-decoration: line-through
        text-decoration-thickness: 3px

.text
    margin-bottom: 16px
    color: $light-black
    font-size: 18px
    max-width: 350px
    +dark
        color: $gray3

.paragraph
    margin-bottom: 32px
    text-align: justify
    +body-1

.btns
    display: flex
    +m
        display: block

.button
    +m
        width: 100%
    &:not(:last-child)
        margin-right: 16px
        +m
            margin: 0 0 16px
    
.scroll
    position: absolute
    bottom: -128px
    +m
        bottom: -336px

.gallery
    position: relative
    +m
        margin: 0 auto
        pointer-events: all

    .play
        transform: translate(-50%, -50%)

.preview
    &:first-child
        position: relative
        z-index: 2
    &:nth-child(2)
        top: 36%
        right: -18%
        z-index: 3
        width: 45%
    &:nth-child(3)
        top: -12%
        right: -7%
        z-index: 1
        width: 45%
    &:nth-child(4)
        left: 11%
        bottom: 13%
        z-index: 3
        width: 18%
    &:not(:first-child)
        position: absolute
    img
        width: 100%

.hero_video
    width: 100%
    border-radius: 16px
    