@import ../../../styles/helpers

.avatar
  width: 128px
  height: 128px
  margin: 0 auto 20px
  border-radius: 50%
  background: $neutrals6
  overflow: hidden
  +dark
    background: $neutrals3
  img
    width: 100%
    min-height: 100%
  
.trainer
  text-align: center

.position
  margin-bottom: 20px
  text-align: center
  +caption-1
  color: $neutrals4

.wrap
  margin: 0 -16px
  +m
    display: none

.btns
  text-align: right
  +m
    display: none