$black: #161616
$black2: #1d1d1d
$black3: #242424
$light-black: #4E4E4E
$gray: #8E8E8E
$gray2: #AEAEAE
$gray3: #E4E4E4
$gray4: #F4F4F4
$white: #FAFAFA
$ultra-white: #FFFFFF

$orange: #FF592C
$purple: #973999
$pink: #EF466F
$blue: #3772FF
$light-blue: #009CDF
$green: #5EBD3E
$yellow: #FFD166
$strong-yellow: #FFB900
$shadow-dark-mode: rgba(88, 88, 88, 0.1)
$border-color: #E6E8EC